@import "colors";
@import "mixins";

$nav-height: 40px;

.nav {
  @include box-sizing(border-box);
  position: fixed;
  border-color: $blue;
  border-style: solid;
  border-width: 1px;
  background-color: $yellow;
  color: #fff;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  height: $nav-height;
}

.nav-spacer {
  height: $nav-height;
  width: 100%;
}